# Node.js (Next.js)
node_modules/
.next/
out/

# Django
*.pyc
__pycache__/
db.sqlite3
/static/

# Virtual environments
venv/
.env/

# Mac OS X
.DS_Store

# Logs
*.log

# IDEs
.vscode/
.idea/

# Other
*.env
