/* home.css */
.data-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    min-height: 100vh;
    padding: 2rem; 
    font-family: 'Poppins', sans-serif;
  }

.data-page h1{
    font-size: 45px;
    color: #2969FF;
    font-weight: 600;
    margin-top: 5%;
}
.input-container-data {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: #7776F6;
    font-weight: 500;
}

.input-container-data h2 {
    color: #7776F6;
}

.input-container-data p {
    color: black;
}

.input-container-data div:hover img {
    transform:scale(1.1);
    transition: transform 0.3s ease;
}

.input-row-data{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.submit-data{
    background-color: black;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin-top: 3%;
    transition: transform 0.3s, background-color 0.3s;
}

.submit-data:hover{
    background-color: #2969FF;
    transform: scale(1.1);
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.status-message {
    color: green;
    margin-top: 10px;
    font-size: 14px;
}

.tm-data{
    font-weight: 600;
    position: absolute;
    bottom: 5%;
    color: black;
    font-size: 18px;
}

.error-message {
    color: red;
    text-decoration: underline;
    margin-top: 10px; /* Jarak dari tombol */
    text-align: center;
}